*{
    font-family: sans-serif;
}
body{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxIt1LJSz6rte0eg32f36QQT-dqm-BCGLY2g&s);
    background-size: cover;
}
.grid-container{
    display: flex;
    margin: 10px auto;
    height: 500px;
    width: 800px;
    overflow: hidden;
    border-radius: 10px;
}
.left{
    background: rgb(48, 101, 193);
    width: 100%;
    height: 100%;
    padding: 20px;
    color : white;

}
.right{
    background: white;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.star input{
    color: transparent;
    width: 90%;
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    display: block;
}
button{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 45px;
    border-radius: 10px;
    background: rgb(48, 101, 193);
    padding: 15px;
    color: white;
    border: 0px;
}
