*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxIt1LJSz6rte0eg32f36QQT-dqm-BCGLY2g&s);
    background-size: cover;
}
.grid-container{
    display: flex;
    margin: 100px auto;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    background: rgb(48, 101, 193);
    flex-direction: row-reverse;
}
.left{
    width: 100%;
    padding: 20px;
    color : white;
    
    
}
.right{
    background: white;
    width: 100%;
    padding: 20px;
}
.star input{
    
    width: 100%;
    padding: 18px;
    border: 1px;
    background: rgb(247, 251, 255);
    border-radius: 5px;
    display: block;
    outline: none;
}
button{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 45px;
    border-radius: 10px;
    background: rgb(48, 101, 193);
    padding: 15px;
    color: white;
    border: 0px;
    cursor: pointer;
}
.imge{
    width: 90px;
    height: 90px;
    border-radius: 100px;
    overflow: hidden;
    background: white;
    padding: 10px;
    margin: 10px auto;
}
.imge img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ol{
    margin-top: 20px;
}
ol li{
    margin: 10px 0px;
}
.curs{
    font-family: cursive;
}
.gre{
    margin-bottom: 20px;
    font-size: 12px;
    color: grey;
}
.mine{
    width: fit-content;
    margin: auto;
    display: block;
    border-radius: 100px;
    background: white;
    color: rgb(48, 101, 193);
    margin-top: 40px;
}